.flex-box1 {
    display: flex;
    background-color: #31343d;
    gap: 20px 400px;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .logo {
    flex:1;
    background-color:#92cccd;
    font-size: 35px;
    align-self: start;
    text-align:end;
    margin-top: 2px;
    margin-bottom: 30px;
    padding-left: 1px;
    padding-right: 20px;
    
  }

.navbar {
    flex: 2;
    background-color: #31343d;
    font-size: 25px;
    align-self: end; 
    padding-top: 10px;
    margin-right: 50px;
    padding-bottom: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    
}

   
.navbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.navbar ul li {
    display: inline-block;
    margin-left: 30px;

    
}
a {
    color: #92cccd;
    display: inline-block;
    text-decoration: underline; 
    text-decoration-thickness: 5px;
  
}
  
.hero-banner {
    display: flex;
    gap: 20px 4px;
    overflow: hidden;
    height: 200px;
    background-image: url(images/02-hero-bg.jpg); 
    background-size:cover;
    background-color: rgba(88, 88, 244, 0.5);
    flex-direction: row-reverse;


  }
  .hero-banner::before{
    background-color: rgba(88, 88, 244, 0.5);
  }
.text-block {
    background-color:#92cccd;
    font-size: 20px;
    align-self: flex-end;
    text-align:start;
    margin-bottom: 30px;
    padding-left: 1px;
    padding-right: 20px;
    justify-content: flex-end;
    margin-right: 40px;

}


  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
  }
  
  h1, 
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  .page-section {
    display: flex;
    width: 95%;
    margin: auto;
  }
  p {
    margin: 0;
    width: 80%;
    margin-left: 20px;
    margin-top: 5px;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  

  .section-title{
    border-right: solid 2px black;
    width:10%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 5px;
  }

 
  .container {
    display: flex;
    border: 8px solid #92cccd;
    margin-top: 20px;
    margin-left: 80px;
    flex-wrap: wrap;
    justify-content: center;
    width: 600px;

    
   
    
  }
img {
    width: fit-content;
    justify-content: center;
    
}



  .page-section-contact{
    display: flex;
    width: 95%;
    margin: auto;
  }
  

  .lowernavbar {
   
    font-size: 25px;
    align-self: end; 
    padding-top: 10px;
    margin-right: 50px;
    padding-bottom: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    
    
}

   
.lowernavbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.lowernavbar ul li {
    display: inline-block;
    margin-left: 30px;
    
}

    
       
      

  
